.main{
    width: 600px;
    margin: auto;
    border: 2px solid gray;
    padding: 8px;
    color: white;
}
span{
    display: inline-block;
}
.txt1, .txt2{
    padding: 16px;
    border-radius: 5px;
}
.txt1{
    background-color: #298bc9;
}
.txt2{
    background-color: black;
    box-shadow: 2px 2px black;
    display: none;
}
.trigger{
    position: relative;
}
.trigger:hover .txt2{
    display: inline-block;
    width:max-content;
    position: absolute;
    top: 20px;
    left: 20px;
}
